

  <h1>imSearch</h1> 




<!-- Single button -->



<div class="row ">
  <div class="col-xs-12 bg1 left-xs">
    <div class="row bottom-xs">
      <div class="col-xs-4 right-xs">
        <span class="desc" style="text-align: center">Starting with</span>
      </div>
      <div class="col-xs-4">
        <label style="display: block; text-align: left">
          <i class="fa fa-edit"></i>Cardinality
        </label>
        <input type="text"></input>
      </div>
      <div class="col-xs-4">
        <label style="display: block; text-align: left">
          <i class="fa fa-edit"></i>Item Type
        </label>
        <input type="text"></input>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 bg1 left-xs">
    <div class="row bottom-xs">
      <div class="col-xs-4 right-xs">
        <span class="desc" style="text-align: center">show me its</span>
      </div>
      <div class="col-xs-2"></div>
      <div class="col-xs-2">
        <label style="display: block; text-align: left">
          <i class="fa fa-edit"></i>Cardinality
        </label>
        <input type="text"></input>
      </div>
      <div class="col-xs-2">
        <label style="display: block; text-align: left">
          <i class="fa fa-edit"></i>Item Type
        </label>
        <input type="text"></input>
      </div>
      <div class="col-xs-2">
        <label style="display: block; text-align: left">
          <i class="fa fa-edit"></i>Item Type
        </label>
        <input type="text"></input>
      </div>
    </div>
  </div>
</div>


<!-- 
<div class="row ">

  <div class="col-xs-6 bg1 left-xs">
      <div class="row bottom-xs">
        <div class="col-xs-4 right-xs">
          <span class="desc" style="text-align: center">Show me its</span>
        </div>
        <div class="col-xs-4">
          <label style="display: block; text-align: left">
            <i class="fa fa-edit">
            </i>Cardinality</label>
          <div class="btn-group">
  <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
  <span data-bind="label">a</span>&nbsp;<span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu">
  <li><a>some</a></li>
  <li><a>a list of</a></li>
  <li><a>a single</a></li>
  </ul>
</div>
        </div>
        <div class="col-xs-4">
          <label style="display: block; text-align: left">
            <i class="fa fa-edit">
            </i>Item Type</label>
          <input type="text"></input>
        </div>
      </div>
  </div>

  <div class="col-xs-6 bg1 left-xs">
    <div class="row bottom-xs">
      <div class="col-xs-6 right-xs">
        <span class="desc" style="text-align: center">show me</span>
      </div>
      <div class="col-xs-6">
        <label style="display: block; text-align: left">
          <i class="fa fa-edit">
          </i>Attributes</label>
        <input type="text"></input>
      </div>
    </div>
</div>
</div>
 -->

