

  <h1>imSearch</h1> 


<button ng-click="test()" class="btn btn-success">EXPLODE</button>
<!-- <button ng-click="svgAddClass()" class="btn btn-success">Add Class</button>
<button ng-click="svgAddClass2()" class="btn btn-success">Add Line</button>
<button ng-click="addNode()" class="btn btn-success">Add Node</button>
<!-- <div id="d3vis"></div> -->
<!-- <svg width="100%" height="500" id="snapper"></svg> -->



<!-- Single button -->

<div class="panel">
  <div class="panel-body">
    <pre>
      {{tree}}
    </pre>
  </div>
</div>



<script type="text/ng-template"  id="tree_item_renderer.html">
  <section>


    <div class="flexy-container">

      <div class="flexy-item fixed">
        <h3>Item is {{data.name}}</h3>
      </div>

      <div class="flexy-item">

        <div class="flexy-container">

          <div class="flexy-item">
            <label style="display: block; text-align: left">
              <i class="fa fa-edit"></i>Relationship
            </label>
            <div>
              <select ng-model="whoknows" ng-options="rule as rule for rule in getCollections(data.name)"></select>

            </div>
          </div>

          <div class="flexy-item">
            <label style="display: block; text-align: left">
              <i class="fa fa-edit"></i>Item Type
            </label>
            <input ng-click="isCollapsed = !isCollapsed" type="text" ng-model="root" />
          </div>

          <div class="flexy-item">
            <button ng-click="add(data, whoknows)" class="btn btn-success">Add Node</button>
          </div>

        </div>

      </div>

    </div>

  <section style="padding-left: 25px" ng-repeat="data in data.nodes" ng-include="'tree_item_renderer2.html'">
  </section>

    
  </section>

</script>


<section>
  <h3>Starting Point</h3>
  <button ng-click="getCollections('Gene')">HELLO</button>
  <pre>
    {{}}
  </pre>
</section>


<!-- START IT -->
<!-- <section ng-repeat="data in tree" ng-include="'tree_item_renderer.html'"></section> -->








